html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --primary-color: #4b9610;
    --light-brown: #eceade;
    --max-width: 1100px;
    font-family: 'Calibri', sans-serif;
    line-height: 1.5;
    background: #fff;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

.button {
    border: 2px solid var(--primary-color);
    border-radius: 45px;
    background: var(--primary-color);
    color: #fff;
    padding: 17.5px 25px;
    cursor: pointer;
}

.heading {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}

/* nav */
.main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 85px;
    border-bottom: 4px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

.main-logo {
    order: 2;
    height: 65px;
}

.nav-item-1,
.nav-item-2,
.nav-item-3 {
    order: 1;
}
.nav-item-4,
.nav-item-5,
.nav-item-6 {
    order: 3;
}

/* Jumbo */
.jumbo {
    background: url(../img/pickwickgoedeavond2.jpg) no-repeat center center /
        cover;
    min-height: 80vh;
    padding: 100px;
}

.jumbo .jumbo-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 10rem 20rem;
}

.jumbo .jumbo-container .jumbo-img {
    height: 125px;
    margin: 0 0 20px 0;
}

.jumbo .jumbo-container p {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-size: 24px;
    max-width: 450px;
    line-height: 32px;
    color: #ffffff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

/* Product */
.product {
    min-height: 500px;
    padding: 10%;
}

.product-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.product .product-container .product-content p {
    margin-bottom: 50px;
    max-width: 35rem;
}

.product .product-container img {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
}

/* flavours */
.flavours {
    padding: 1% 10%;
    background-color: var(--light-brown);
}
.flavours .flavours-title {
    text-align: center;
}

.flavours .flavours-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    justify-items: center;
    align-items: center;
}

.flavours .flavours-container .flavour-product {
    text-align: center;
}

.flavours .flavours-container .flavour-img {
    display: grid;
    height: 250px;
}

.flavours .flavours-container .flavour-img img {
    max-width: 180px;
    max-height: 220px;
    align-self: end;
    justify-self: center;
    padding-bottom: 1rem;
}

.flavours .flavours-container .flavour-product p {
    max-width: 20rem;
}

.flavours .flavours-container .button {
    grid-column: 2 / span 2;
}

/* topics */
.topics {
    min-height: 500px;
    padding: 10%;
}

.topics .topics-container img {
    width: 500px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
    border-radius: 3%;
}
.topics-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.topics .topics-container .topics-content p {
    margin-bottom: 50px;
    max-width: 35rem;
}

/* inspire */
.inspire {
    padding: 1% 10%;
}
.inspire .inspire-title {
    text-align: center;
}

.inspire-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.inspire .inspire-card {
    background: #fff;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.inspire .inspire-card .inspire-img {
    max-width: 100%;
}

/* newsletter */
.newsletter {
    background: url(../img/pickwicknieuwsbriefnieuw1.jpg) no-repeat center
        center / cover;
    min-height: 900px;
    padding: 5% 5%;
}

.newsletter .newsletter-container {
    display: grid;
    grid-template-columns: 1 / span 1;
    max-width: 500px;
}

.newsletter .form-gender {
    padding: 10px;
}

.newsletter .form-gender type .newsletter .form-gender input {
    transform: scale(2);
}

.newsletter .contact-form label {
    display: inline-block;
    padding-bottom: 0.5rem;
    padding-top: 0.4rem;
}

.newsletter .contact-form .form-name input,
.newsletter .contact-form input {
    opacity: 0.6;
    border: none;
    border-radius: 30px;
    margin-right: 0.5rem;
    padding: 0.2rem 6rem 2rem 7rem;
}

.newsletter
    .newsletter-container
    .contact-form
    .form-terms
    input[type='checkbox'] {
    position: absolute;
}
